.player {
    width: 100%;
}

.audio {
    margin: 0 auto;
    display: inline;
    width: 80%;
}

.trackTitle {
    font-size: 85%;
    font-style: italic;
}

.button {
    width: 10%;
    padding: 0 10px 10px 10px;
    cursor: pointer;
}